@tailwind base;
@tailwind utilities;
@tailwind components;

@layer utilities {
}
.link-card .tag.selected {
  @apply outline-2 outline outline-white scale-95;
}
@layer component {
  .link-card {
    @apply bg-gray-300 text-black hover:bg-gray-11  rounded-lg shadow-md mb-4 block w-full p-2 transition-all;
  }

  .link-card .link-title-box {
    width: calc(100% - 80px);
  }

  .link-card .action-icons {
    @apply !hidden transition-transform hover:scale-110;
  }

  .link-card:hover .action-icons {
    display: block !important;
  }
  .tag {
    font-size: 10px !important;
    @apply overflow-hidden  !leading-3 inline-flex gap-2 rounded-full text-white items-center !px-2;
  }
  .tag span {
    @apply uppercase;
    padding: 0 3px 3px 6px;
  }

  .tag .badge-remove {
    padding-inline-start: 3px;
    @apply inline-flex h-full pe-1 !border-l !border-solid !border-white border-opacity-30 hover:bg-red-400  items-center;
  }
}
